<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_url %> <%#this says path because the 'rake routes' in terminal are prefixes to '_path' or '_url'; '_path' for  relative path rather than full url%>
<%# '_url' is for the full url, subdomain  options here ;  '_path' is for relative bath to the already present url%>


<% @portfolio_items.each do |portfolio_item| %>
    <p><%= portfolio_item.title%></p>
    <p><%= portfolio_item.subtitle%></p>
    <p><%= portfolio_item.body%></p>
    <%= image_tag portfolio_item.thumb_image if  !portfolio_item.thumb_image.nil? %> <%# the if statement is better because it renders the code fully allowing for that lack of image exception. Basically : show this image unless it doesnt exisit%>
    <%= link_to 'Edit', edit_portfolio_path(portfolio_item.id) %>
<% end %>