<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content=<%= @seo_keywords%> />
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
  <body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
     <%= video_tag(
                'HardDrivePhotojpeg.mp4',
                id: 'background',
                muted: true,
                autoplay: true,
                loop: true,
                poster: 'home_bg.png',
     )%>

    <div class="inner">
        <%= render "shared/application_nav"%>
         </div>
</header>

        <%= yield %>

        <%= render "shared/application_footer"%>
      <%=  render "shared/alerts"%>
        <%= source_helper("application") %>

</div>

  </body>
</html>
